<%= form_for @stock, :remote => true do |f| %>
  <div class="field">
    <%= f.hidden_field :stock_id, :value => @stock.id %>
    <%= f.date_field :start_date, :value => @stock.start_date %>
    <%= f.date_field :end_date, :value => @stock.end_date %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<% @stock_history = StockQuote::Stock.history(@stock.ticker,   @stock.start_date ||= "10/22/2017",  @stock.end_date ||="12/20/2107") %>
  <% @stock_price_hash = {} %>
  <% @stock_history[:history].each do |day| %>
    <% @stock_price_hash[day[:date]] = day[:close] %>
  <% end %>
<%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
