<% @stock_quote = StockQuote::Stock.quote(@stock.ticker) %>
  <% @stock.ticker %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><h3><strong><%= @stock_quote.name %> | <%= @stock_quote.symbol %></strong></h3>
    </div>
    <div class="panel-body">
    <div class="col-md-4">
        <% if @stock_quote.c.to_f >= 0 %>
          <h1 class='green'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong><em class='green'><%= @stock_quote.c %> </em><br>
        <% else %>
          <h1 class='red'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong> <em class='red'><%= @stock_quote.c %> </em> <br>
        <% end %>

        <strong>Current Company Worth: </strong><%= @stock_quote.mc %> <br>
        <strong>52 Week High: </strong><%= @stock_quote.hi52 %> <br>
        <strong>52 Week Low:</strong><%= @stock_quote.lo52 %> <br>
      </div>
      <div class="col-md-8">
        <%= @stock_quote.summary[0]['overview'] %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
      <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-default'  %>
      <%= link_to 'Back', stocks_path, class: 'btn btn-default' %>
      <%= link_to 'Remove Stock', stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  </div>


<br>

<ul class="nav nav-tabs" id="tabSort" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="mtdTab" data-toggle="tab" href="#mtd" role="tab" aria-controls="mtd" aria-selected="true">MTD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ytdTab" data-toggle="tab" href="#ytd" role="tab" aria-controls="ytd" aria-selected="false">YTD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="1yTab" data-toggle="tab" href="#1y" role="tab" aria-controls="1y" aria-selected="false">1Y</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="5yTab" data-toggle="tab" href="#5y" role="tab" aria-controls="5y" aria-selected="false">5Y</a>
        </li>
</ul>
<form>
<input id="start_date" type="date", name="start">
<input class='submit' type="submit">
<input id="end_date" type="date", name="end">
</form>
<script type="text/javascript">
  const form = document.forms[0];
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    var startDate = form.start.value
    var endDate = form.end.value
});
</script>

<% @stock_history = StockQuote::Stock.history(@stock.ticker, '12/01/17', '12/20/2017') %>
  <% @stock_price_hash = {} %>
<% @stock_history[:history].each do |day| %>
   <% @stock_price_hash[day[:date]] = day[:close] %>
  <% end %>

  <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
