<% @stock_quote = StockQuote::Stock.quote(@stock.ticker) %>
  <% @stock.ticker %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><h3><strong><%= @stock_quote.name %> | <%= @stock_quote.symbol %></strong></h3>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <% if @stock_quote.c.to_f >= 0 %>
          <h1 class='green'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong><em class='green'><%= @stock_quote.c %> </em><br>
        <% else %>
          <h1 class='red'><%= @stock_quote.l %></h1> <br>
          <strong>Days Change: </strong> <em class='red'><%= @stock_quote.c %> </em> <br>
        <% end %>

        <strong>Current Company Worth: </strong><%= @stock_quote.mc %> <br>
        <strong>52 Week High: </strong><%= @stock_quote.hi52 %> <br>
        <strong>52 Week Low:</strong><%= @stock_quote.lo52 %> <br>
      </div>
      <div class="col-md-8">
        <%= @stock_quote.summary[0]['overview'] %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
      <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-default'  %>
      <%= link_to 'Back', stocks_path, class: 'btn btn-default' %>
      <%= link_to 'Remove Stock', stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  </div>
<%=  %>

<br>

<%#= Price chart tabs  %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="mtd-tab" data-toggle="tab" href="#mtd" role="tab" aria-controls="mtd" aria-selected="true">MTD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ytd-tab" data-toggle="tab" href="#ytd" role="tab" aria-controls="ytd" aria-selected="false">YTD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="3y-tab" data-toggle="tab" href="#3y" role="tab" aria-controls="3y" aria-selected="false">3Y</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="5y-tab" data-toggle="tab" href="#5y" role="tab" aria-controls="5Y" aria-selected="false">5Y</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="custom-tab" data-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false">Custom</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="mtd" role="tabpanel" aria-labelledby="mtd-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker, Date.today.beginning_of_month, Date.today) %>
      <% @stock_price_hash = {} %>
        <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
      <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
  <div class="tab-pane" id="ytd" role="tabpanel" aria-labelledby="ytd-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker, Date.today.beginning_of_year, Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
        <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
  <div class="tab-pane" id="3y" role="tabpanel" aria-labelledby="3y-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker,  Date.today.years_ago(3),  Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
      <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
  <div class="tab-pane" id="5y" role="tabpanel" aria-labelledby="5y-tab">
    <% @stock_history = StockQuote::Stock.history(@stock.ticker,   Date.today.years_ago(5),  Date.today) %>
      <% @stock_price_hash = {} %>
      <% @stock_history[:history].each do |day| %>
        <% @stock_price_hash[day[:date]] = day[:close] %>
      <% end %>
      <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
  <div class="tab-pane" id="custom" role="tabpanel" aria-labelledby="custom-tab">
    <form action="/createDate"  method="get">
      <input id='id', type="hidden" name="id" value="<%=@stock.id%>">
      <input id="start_date" type="date", name="start", max='<%=Date.today-1%>'>
      <input id="end_date" type="date", name="end", max='<%=Date.today%>'>
      <input class='submit' type="submit">
    </form>
    <%= line_chart (@stock_price_hash), xtitle: "Date", ytitle: "Price", height: "500px"  %>
  </div>
</div>
