<%= form_tag root_path, method: 'post' do %>
  <div class="form-group">
    <%= text_field_tag 'id', nil, placeholder: "Enter Company Ticker Symbol", size: 50, class: "form-control" %>
    <%= submit_tag "Look up" , class: "btn btn-danger"%>

  </div>
<% end %>

<br>
<% if @stock %>
  <%= @stock.name %> <br>
  <%= @stock.symbol %> <br>
  <%= @stock.op %> <br>
  <%= @stock.eps %> <br>
  <%= @stock.exchange %> <br>
  <%= @stock.beta %> <br>
  <%= @stock.sname %> <br>
  <%= @stock.l.to_f %>
  <% @stock.management.each do |m| %>
      <%= m['name'] %> | <%= m['title'] %>
      <br>
    <% end %>
<%b%>
<% elsif @nothing %>
  <%= @nothing %>
<% elsif @error %>
  <%= @error %>
<% end  %>
