<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.0.0.min.js"></script>
  </head>

  <body>
    <%= render 'home/navbar'%>
  <div class="container">
    <%= render 'home/flash' %>
    <%= yield %>
  </div>
  </body>
</html>
